*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

main{
    padding: 0.7rem;
    height: 100%;
    width: 100%;
    display: grid;
    gap: 0.35rem;
    grid-template-columns: 2.1fr 1fr 1fr 1fr;
    grid-template-rows: 0.8fr  1fr;
     grid-template-areas: "top-left-img top-right-img top-right-img top-right-img "
                            // "top-left-img    top-right-img top-right-img top-right-img "
                            "top-left-img  bottom-left-img  bottom-center-img bottom-right-img ";



      section{
        // margin: ;
        background-position: center;
        background-size: cover;
        

        border-radius: 0.7rem;

        h4{
          text-align: center;
          font-size: 2rem;
          color:white;
          -o-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
      }
     #section1{
   grid-area: top-left-img; 
   background-image: url("section1.png");
    }

    #section2{
    grid-area: top-right-img;
    background-image: url("section2.png");

}


     #section3{
   grid-area: bottom-left-img; 
   background-image: url("section3.png");
    }

    #section4{
    grid-area: bottom-right-img;
     background-image: url("section4.png");
}


     #section5{
   grid-area: bottom-center-img; 
  background-image: url("section5.png");
    }

}

@media (max-width:380px)  {
  main{
        grid-template-columns: 1fr ;
    grid-template-rows: 1.4fr 1fr 1fr 1fr 1fr;
     grid-template-areas: "top-left-img    "
                            "    top-right-img  "
                            "bottom-left-img  "
                            "  bottom-right-img "
                            "bottom-center-img";



  }

  section{
  background-position: top;
  }

  #section1{
    background-position: center;
  }
}


  @media (min-width:381px) and ( max-width:800px)  {
  main{
           grid-template-columns: 1fr  1fr;
    grid-template-rows: 1fr 1fr  1fr ;
     grid-template-areas: "top-left-img   top-right-img  "
                            " bottom-left-img   bottom-right-img "
                            "bottom-center-img   bottom-center-img";


  }


  

  
}


 @media (min-width:8001px) and ( max-width:1400px)  {
  main{
           grid-template-columns: 1fr  1fr;
    grid-template-rows: 1fr 1fr  1fr 1fr ;
     grid-template-areas: "top-left-img   top-right-img  "
                            " bottom-left-img   bottom-right-img "
                            "bottom-center-img   bottom-center-img";


  }
 }